<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Jacquemusa Fashion Web</title>
</head>
<body>
    <header>
        <!--Menu de Navegación-->
        <div>
            <input type="checkbox" id="btn-menu">
            <label for="btn-menu"> <img src="/static/img/botonMenu.png" alt="Menú" id="imagenMenu"></label>
            <nav class="menu">
                <ul>
                    <li> <a href="/templates/index.html"> Inicio </a></li>
                    <li> <a href="/templates/contacto.html"> Contacto</a></li>
                    <li> <a href="/templates/acercaDe.html"> Acerca de </a></li>
                </ul>
            </nav>
        </div>
    </header>
    

    <div class="banner">
        <div class="banner-text">
          <h1 class="tituloBanner">Jacquemusa</h1><hr>
          <h3>Contactate con nosotros.</h3><br>
        </div>
    </div>
    <br>
    <div class="acerca-de">
        <h1> SOBRE NOSOTROS </h1>
        <p> Somos una red social en desarrollo donde compartimos post y noticias del día a día, relacionado con la moda.</p>
    </div><br>

    <div class="banner2">
    </div>
    <br>
    <div class="acerca-de">
        <h1> NUESTROS FUNDADORES </h1>
        <p> Sol Santillan funda Jacquemusa en 2021 para el trabajo de Codo a Codo. Gracias por la oportunidad. Sé que todavía queda un camino por delante.</p>
    </div><br>

    <div class="banner3">
    </div><br>

    <!--video-->
    <div class="video-responsive">
        <iframe title="vimeo-player" src="https://player.vimeo.com/video/639231100?h=2a67ccccab?autoplay=1&loop=1&autopause=0" width="640" height="360" frameborder="0" allowfullscreen></iframe>
   </div>


    <hr>
    <footer>
        <p>© 2021. Autora: Sol Santillan<br>
        <a href="ssolsantillan.ok@gmail.com">ssolsantillan.ok@gmail.com</a></p>
    </footer>
</body>
</html>