<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Jacquemusa</title>
</head>
<body>

    <header>
        <div>
            <input type="checkbox" id="btn-menu">
            <label for="btn-menu"> <img src="/static/img/botonMenu.png" alt="Menú" id="imagenMenu"></label>
            <nav class="menu">
                <ul>
                    <li> <a href="/templates/index.html"> Inicio </a></li>
                    <li> <a href="/templates/contacto.html"> Contacto</a></li>
                    <li> <a href="/templates/acercaDe.html"> Acerca de </a></li>
                </ul>
            </nav>
        </div>
    </header>

    <!--banner-->
    <div class="banner">
        <div class="banner-text">
          <h1 class="tituloBanner">Jacquemusa</h1><hr>
          <h3>Tu página de inspiración.</h3><br>
        </div>
    </div>

    <br>

            <!--Titulo secundario-->
            <h2> Moda </h2>
                
            <div class="centered">
                <section class="cards">
                    <article class="card">
                        <img src="/static/img/moda/moda.jpeg" alt="">
                        <h3> Jacquemus </h3>
                        <p>La marca del verano</p>
                        <a href="#">Seguí este post</a>
                    </article>
                    <article class="card">
                        <img src="/static/img/moda/moda2.jpeg" alt="">
                        <h3> Moda </h3>
                        <p> Agregale color al verano</p>
                        <a href="#">Seguí este post</a>
                    </article>
                    <article class="card">
                        <img src="/static/img/moda/moda3.jpeg" alt="">
                        <h3> Rosie HW</h3>
                        <p> La influencer del momento</p>
                        <a href="#">Seguí este post</a>
                    </article>
                    <article class="card">
                        <img src="/static/img/moda/moda4.jpeg" alt="">
                        <h3> A la oficina</h3>
                        <p> Lleva tu look de oficina a otro nivel</p>
                        <a href="#">Seguí este post</a>
                    </article>
                </section>
            </div>

        <!--Titulo secundario-->
        <h2>Decoración del hogar</h2>

        <!--cards-->
        <div class="centered">
            <section class="cards">
                <article class="card">
                    <img src="/static/img/articulosCasa/home.jpeg" alt="">
                    <h3> Habitación </h3>
                    <p>Estas son las colchas más lindas</p>
                    <a href="#">Seguí este post</a>
                </article>
                <article class="card">
                    <img src="/static/img/articulosCasa/home1.jpeg" alt="">
                    <h3> Deco </h3>
                    <p> Decora tu casa con cerámica</p>
                    <a href="#">Seguí este post</a>
                </article>
                <article class="card">
                    <img src="/static/img/articulosCasa/hogar.jpeg" alt="">
                    <h3> Deco</h3>
                    <p>Estos cuadros los vas a querer tener</p>
                    <a href="#">Seguí este post</a>
                </article>
                <article class="card">
                    <img src="/static/img/articulosCasa/hogar1.jpeg" alt="">
                    <h3> Deco</h3>
                    <p> Los espejos más fáciles de hacer</p>
                    <a href="#">Seguí este post</a>
                </article>
            </section>
        </div>

                <!--Titulo secundario-->
                <h2>Accesorios</h2>

                <!--cards-->
                <div class="centered">
                    <section class="cards">
                        <article class="card">
                            <img src="/static/img/accesorios/accesorio.jpeg" alt="">
                            <h3> Carteras </h3>
                            <p> El bolso que esperabas</p>
                            <a href="#">Seguí este post</a>
                        </article>
                        <article class="card">
                            <img src="/static/img/accesorios/accesorio1.jpeg" alt="">
                            <h3> Bijou </h3>
                            <p> Si hablamos de pulseras, más es más</p>
                            <a href="#">Seguí este post</a>
                        </article>
                        <article class="card">
                            <img src="/static/img/accesorios/accesorio2.jpeg" alt="">
                            <h3> Uñas</h3>
                            <p>Las uñas de colores de las que todo el mundo habla</p>
                            <a href="#">Seguí este post</a>
                        </article>
                        <article class="card">
                            <img src="/static/img/accesorios/accesorio3.jpeg" alt="">
                            <h3> Collares </h3>
                            <p> Complementa tus looks con estos collares</p>
                            <a href="#">Seguí este post</a>
                        </article>
                    </section>
                </div>


    <!-- footer-->
        <hr>
        <footer>
            <p>© 2021. Autora: Sol Santillan<br>
            <a href="ssolsantillan.ok@gmail.com">ssolsantillan.ok@gmail.com</a></p>
        </footer>
</body>
</html>